.input-container {
    width: 100%;
    text-align: center;

    .input {
        width: 260px;
        height: 24px;
        outline: none;
        border: 1px solid #bdbbbb;
        border-radius: 4px;
        font-size: 14px;
        padding: 4px 8px;
    }
}